<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>
                {{#if news.channelName}}
                    {{{news.channelName}}}
                {{else}}
                    Новости, которых нет
                {{/if}}
            </h1>
        </div>
        <div class="col-2 text-right">
            <a href="/config">Настройки</a>
        </div>
    </div>
    <div class="row news-container">
        {{#if news.items}}
            {{#each news.items}}
                <div class="col-4 news-wrapper">
                    <div class="news-item">
                        <h3>{{this.title._text}}</h3>
                        <div class="news-text">
                            {{this.description._text}}
                            {{this.description._cdata}}
                        </div>
                        <div class="news-readmore">
                            <a href="{{this.link._text}}" target="_blank">Читать дальше</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>