<div class = "cont">
<form id="form">
    <label for="number">Укажите количество новостей которое вы хотите увидеть!(максимум {{max}})</label>
    <input type="number" id="number" name = "number" maxlength="1" max="{{max}}" min="1" value="{{arrNews.length}}">
    <button type="submit"> Показать заданное количество новостей </button>
</form>
{{#each arrNews}}
<a class="course" href = "{{this.link}}" target="_blank">
    <div class="img">
        <p>{{this.title}}</p>
    </div>
</a> 
{{/each}}   
</div>


<script> 
let input = document.querySelector('#number')
let form = document.querySelector('#form')
let button = document.querySelector('#form > button')

form.addEventListener('submit',async (e)=> {
    e.preventDefault()
    let res = await fetch(`http://localhost:8001/namberNews/${input.value}`, {
        method:'POST'
        //незнаю почему это выдает пустое body на сервере
       // body: new FormData(form)
    })
    let { result } = await res.json()
    result &&  window.location.reload()
})

</script>